$bgcolor: hsl(120, 100%, 90%);

body {
    eco-header {
        display: block;
        height: 3rem;
        background-color: $bgcolor;
    }
    eco-body {
        background-color: yellow;
    }
}