$bgcolor: hsl(120, 100%, 90%);
body {
    eco-header {
        display: block;
        height: 3rem;
        background-color: $bgcolor;
        menu {
            display: block;
            item {
                a {
                    display: block;
                    text-decoration: none;
                    color: black;
                    height: 100%;
                    width: 100%;
                }
                display: inline-block;
                height: 3rem;
                background-color: hsl(120, 100%, 50%);
                line-height: 3rem;
                padding: 0 1rem;
                &:hover {
                    background-color: hsl(120, 100%, 40%);
                }
                &:active {
                    background-color: hsl(120, 100%, 30%);
                    
                }
                &.active {
                    background-color: hsl(240, 100%, 50%);
                }
            }
        }
    }
    eco-body {
        display: block;
        background-color: white;
    }

    eco-footer {
        display: block;
        background-color: gray;
    }
}